*{
    background-color: rgb(97, 66, 71);
}
.a{
    background-color: rgb(231, 19, 136);
    height: 100px;
    width: 70px;
    padding: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100px;
}
.ma{
    margin-left: 300px;
}
.top{
    margin-left: 350px;
}